node-red_flow.json
[{"id":"92f30be3.3a0078","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"866b699f.a2bd78","type":"ncd-gateway-node","z":"92f30be3.3a0078","name":"","connection":"258e5fea.00897","x":130,"y":60,"wires":[["21995762.9035e8"]]},{"id":"229131a1.83a27e","type":"ncd-wireless-node","z":"92f30be3.3a0078","name":"","connection":"c92dec1c.7fc9","config_comm":"50e22a9e.060f74","addr":"","sensor_type":"1","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":120,"y":200,"wires":[["b18f406a.4096c","5f33b485.de23dc"]]},{"id":"21995762.9035e8","type":"debug","z":"92f30be3.3a0078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":60,"wires":[]},{"id":"5f33b485.de23dc","type":"function","z":"92f30be3.3a0078","name":"","func":"msg.payload = {};\nmsg.payload.temperature =  parseFloat(msg.data.sensor_data.temperature);\nmsg.payload.humidity = parseFloat(msg.data.sensor_data.humidity);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["b767a18e.49953"]]},{"id":"b767a18e.49953","type":"http request","z":"92f30be3.3a0078","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://docs.google.com/forms/d/e/1FAIpQLScXkrmzylTmf7PF9hbLOhSuPTqY3aWvtUCxsDBYbHu8gFS9ww/formResponse?usp=pp_url&entry.709938653={{payload.temperature}}&entry.1914503780={{payload.humidity}}","tls":"","proxy":"","authType":"basic","x":570,"y":200,"wires":[["3fd243af.cc72fc"]]},{"id":"3fd243af.cc72fc","type":"debug","z":"92f30be3.3a0078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":300,"wires":[]},{"id":"b18f406a.4096c","type":"debug","z":"92f30be3.3a0078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":380,"wires":[]},{"id":"258e5fea.00897","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"c92dec1c.7fc9","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"50e22a9e.060f74","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false}]